
<table id="contacts-grid"  cellpadding="0" cellspacing="0" border="0" class="table table_vam mbox_table dTableR" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Data Imported Date</th>
            </tr>
        </thead>
</table>
