<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Back Office Management</title>
<?php $this->assets->outputCss()?>
<body class="full_width">
	<div id="maincontainer" class="clearfix">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand pull-left" href="#">Hack A Job - Phone Book</a>

						
					</div>
				</div>
			</nav>
		</header>
		<div id="contentwrapper">
			<div class="main_content">
				<?php echo $this->getContent();?>
			</div>
		</div>

	</div>


	<div class="sidebar">
				<div class="panel panel-default">
						<div class="panel-heading">
							<a href="#" class="accordion-toggle"> <i
								class="glyphicon glyphicon-user"></i> Contacts
							</a>
						</div>
						
					</div>
	
	</div>
   	<?php $this->assets->outputJs()?>
    </body>
</html>
